.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    gap:80px;
    margin: 80px 170px;
    padding-top: 100px;
}

.services-title{
    position: relative;
}

.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.services-title::before{
     content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    bottom: -10px;
    left: 50%;
    transform: translateX(-20%);
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}


.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px 40px;
    gap: 20px;
    border-radius: 10px;
    border:2px solid white;
    transition: all 0.5s ease-in-out; 
}


.services-format h3{
    font-size: 30px;
    font-weight: 600;
}

.services-format h2{
    font-size: 40px;
    font-weight: 800;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.services-format p{
    font-size: 20px;
    width: 300px;
}

.services-readmore{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items:     center;
    gap: 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.services-readmore p{
    max-width:fit-content ;
}

.services-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transition: 0.5s;
    transform: scale(1.05);
}

.services-format:hover .services-readmore{
    color: #ff00ff;
}

@media screen and (max-width: 1200px){
    .services{
        margin: 20px 70px;
        gap: 70px;
    }

    .services-title h1{
        font-size: 50px;
        padding: 0px;;
    }

    .services-container{
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .services-format{
        padding: 20px;
        gap: 20px;
    }

    .services-format h2{
        font-size: 30px;
    }

    .services-format h3{
        font-size: 20px;
    }

    .services-format p{
        font-size: 18px;
        width: 100%;
    }

    .services-readmore{
        font-size: 18px;
    }
}