.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 100vh;
    /* border: 1px solid red; */
}

.hero img{
    margin-top:100px ;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.hero h1{
    text-align: center;
    font-size: 50px;
    width: 50%;
    font-weight: 600;
}

.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    text-align: center;
    font-size: 20px;
    width: 50%;
    font-weight: 400;
    line-height: 40px;
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 40px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106%);
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s ease;
}



.hero-connect:hover{
    transform: scale(1.02);
    border:1px solid white;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 1px solid #DF8908;
    cursor: pointer;
    transition: all 0.5s ease;
}
.hero-resume:hover{
    transform: scale(1.02);
    background: white;
    color: black;
}

.anchor{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}