.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    /* border: 1px solid blue; */
    /* padding: 50px 0; */
    /* background-color: #f5f5f5; */
}

.mywork-title{
    position: relative;
}

.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.mywork-title::before{
     content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
    bottom: -10px;
    left: 50%;
    transform: translateX(-20%);
}

.mywork-container{
    display: grid;
    width: 100%;
    /* height: 10% ; */
    /* border: 1px solid red; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    /* margin-bottom: 80px; */
}

.work{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    /* border:2px solid white; */
    transition: all 0.5s ease-in-out; 
}

.work img{
    box-sizing: border-box;
    /* border: 1px solid green; */
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.work img:hover{
    transform: scale(1.09);
    border: 4px solid #ff00ff;
    transition: 0.5s;
}

.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.mywork-showmore:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
    transform: scale(1.05);
}


