.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-block: 170px;
  width: 100%;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.contact-title::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 5px;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  bottom: -10px;
  left: 50%;
  transform: translateX(-20%);
}

.contact-section {
  display: flex;
  justify-content: center;
  gap: 150px;
  width: 100%;
  /* margin-bottom: 80px; */
}

.contact-left {
  width: 40%;
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 1px solid red; */
}

.contact-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 550px;
  font-size: 20px;
  line-height: 35px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  gap: 20px;
}

.contact-detail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  padding: 0px 5%;
  margin-bottom: 50px;
}



/* Container for floating effect */
.input-container {
  position: relative;
  margin: 20px 0;
  width: 100%;
}

/* Style for label */
.input-container label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 0 5px;
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
}

/* Style for input */
.input-container input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: 1px solid white;
  color: white;
  background: transparent;
}

.input-container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: 1px solid white;
  color: white;
  background: transparent;
}

/* Float label when input is focused or has value */
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: -10px;
  font-size: 14px;
}

.input-container textarea:focus + label,
.input-container textarea:not(:placeholder-shown) + label {
  top: -10px;
  left: -10px;
  font-size: 14px;
}


.contact-submit{
    color: white;
    width: fit-content;
    background: transparent;
    border: none;
    background: linear-gradient(270deg, #df8908 -5.09%, #b415ff 100%);
    border-radius: 50px;
    padding: 20px 50px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
