.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */
    position: fixed;
    width: 100vw;
    padding: 20px;
    height: 13vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.803);
    /* background: #161513; */
    /* background: black; */
}

.nav-menu{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923E1 102.6%);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.nav-connect:hover{
    transform: scale(1.05);
}

.underline{
    text-decoration: underline;
    width: 100%;
    height: 2px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923E1 102.6%);
    transition: all 0.5s ease;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.anchor-link{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

.anchor-link:hover{
    transform: scale(1.05);
    color: #da7c25;
}

.nav-mob-open{
    display: none;
}

.nav-mob-close{
    display: none;
}

@media screen and (max-width: 768px){
    .navbar{
        max-width: 100vw;
        height: 10vh;
        /* max-height: 50%; */
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close {
    display: block;
    position: absolute; /* Ensures it stays relative to .nav-menu */
    top: 20px; /* Adjust for spacing */
    right: 20px; /* Align it to the right inside .nav-menu */
    width: 30px;
    height: 30px;
    cursor: pointer;
}

    .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    right: -70%; /* Adjust based on width */
    gap: 30px;
    background-color: #1f0016;
    width: 70%; /* Change to a smaller width */
    max-width: 300px; /* Prevent it from being too large */
    height: 100vh; /* Make it full screen */
    border-radius: 0 0 20px 20px;
    z-index: 2;
    transition: right 0.5s ease;
}


    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
    

}