.footer{
    /* background-color: #333; */
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-top-left p{
    font-size: 20px;
    /* font-weight: 600; */
    max-width: 400px;
}

.footer-top-right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-email-input{
    display: flex;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #323238;
    padding-right: 80px;
    transition: all 0.3s;
    border: 2px solid transparent;
}

.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: white;
    width: 100%;
    font-size: 18px;
}

.footer-subscribe{
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908, #b415ff);
    cursor: pointer;
    transition: all 0.3s;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    font-size: 18px;
}

.footer-bottom-right{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.footer-email-input:hover{
    border: 2px solid white;
}

.footer-subscribe:hover{
    transform: scale(1.1);
}

/* .Ciuser{
    width: 
} */